<div class="wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-9">
      <div class="ibox">
        <div class="ibox-title"><h4>Hello</h4></div>
        <div class="ibox-content">You are in the future. This should look great and animate in from the right. <a href="http://google.com">color!</a></div>
      </div>
    </div>
  </div>
</div>